@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    touch-action: manipulation;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}



.pdfitem {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 20px;
    width: 100%;
}


.container {
    width: 200mm;
    height: 290mm;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.infoholder {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Adjusted grid-template-columns */
}

.info {
    margin-top: 20px;
    text-align: left;
    /* Align content to the right */
    line-height: 20px;
}

.empty {
    width: 90%;
    transform: translateX(45px);
    display: flex;
    align-items: center;
}

.section1 {
    background-color: #8094ac;
    width: 90%;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}

.seller {
    width: 90%;
}

.sellerinfo {
    display: flex;
}

h4 {
    color: #8094ac;
}

.sell {
    width: 85%;
}

.info-sælger hr {
    background-color: rgb(236, 236, 236);
    height: 2px;
    border: none;
}

.inputseller {
    display: flex;
}

.inputseller label {
    font-weight: 600;
}

.inputseller input {
    background-color: transparent;
    border: none;
    width: 90%;
    font-weight: 500;
    text-align: left;
    margin-left: 5px;
}

input:focus {
    outline: none;
    /* Remove default focus outline */
    border: none;
    /* Remove border */
}

input[type="checkbox"] {
    outline: none !important;
    /* Remove default focus outline */
    /* Remove border */
}

.checkbox:hover {
    transition: 0.1s ease-in-out;
}

.checkbox:hover {
    background-color: #a0a0a0;
}



.break {
    height: 5px;
    width: 90%;
    border: none;
    background-color: #8094ac;
    border-radius: 20px;
}

.signatures {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 20px;
    align-content: center;
}


.signatures h1 {
    font-size: 20px;
    text-align: center;
}

.signatures button {
    background-color: transparent;
    text-decoration: underline;
    width: 100%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.sellersignature {
    border-radius: 20px;
}

.buyersignature {
    border-radius: 20px;
}

.submit {
    background-color: #0073ff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width: 20%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.submit:hover {
    background-color: #003980;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    cursor: pointer;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#autocompleteResults {
    border-radius: 20px;
}

.suggestion {
    cursor: pointer;
    color: black;
    border-bottom: 1px solid;
    padding: 10px;
}

.suggestion:hover {
    background-color: #dddddd;
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.reg {
    margin-left: 20px;
    margin-right: 5px;
}